body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 102, 255);
  color: white;
}

.titulo,
.tituloimg {
  text-align: center;
}

.tituloimg {
  color: black;
}

.fild1 {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  width: 100px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.426) 2px 2px 2px;
  margin: 0px auto;
}

.fild2 {
  background-color: white;
  text-align: center;
  color: black;
  border: 0px;
  border-radius: 10px;
  height: 230px;
  width: 200px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.426) 2px 2px 2px;
  margin: 0px auto;
}

img {
  text-align: center;
}

.num12 {
  display: block;
}

#n1,
#n2,
#n3 {
  border-radius: 7px;
  border: 0px;
  height: 25px;
  width: 60px;
  margin: 10px;
}

.x {
  display: inline-table;
  text-align: center;
}
button {
  border-radius: 5px;
  background-color: black;
  color: rgb(0, 102, 255);
  width: 70px;
  height: 25px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.426) 2px 2px 2px;
}

.geral {
  text-align: center;
}

button:hover {
  background-color: white;
  color: black;
}
